<div class="container mt-5">
    <form action="" method="post">
        <div class="form-group">
            <input type="email" name="email" id="email" class="form-control" placeholder="email">
        </div>

        <div class="form-group">
            <input type="password" name="password" id="password" class="form-control" placeholder="password">
        </div>

        <div class="form-group form-check">
            <input type="checkbox" name="login_as_company" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Login as Company</label>
        </div>

        <div class="form-group">
            <input type="submit" value="Login" class="btn btn-primary btn-block">
        </div>
    </form>

    <p>
        not have an account yet ? <a href="/register">register</a>
    </p>
</div>