<div class="container mt-5">

    <h1 class="my-4 d-flex justify-content-center">
        Register As Company
    </h1>

    <form action="" method="post">
        <div class="form-group">
            <input type="text" name="name" id="name" class="form-control" placeholder="Company name">
        </div>
        <div class="form-group">
            <input type="email" name="email" id="email" class="form-control" placeholder="Company email">
        </div>

        <div class="form-group">
            <input type="password" name="password" id="password" class="form-control" placeholder="Password">
        </div>

        <div class="form-group">
            <input type="password" name="conf_password" id="conf_password" class="form-control"
                placeholder="Confirm Password">
        </div>

        <div class="form-group">
            <input type="submit" value="Register" class="btn btn-primary btn-block">
        </div>
    </form>

    <p>
        already have an account? <a href="/login">login</a>
    </p>
    
    <p>
        I looking for the job <a href="/register">Register as job seeker</a>
    </p>
</div>