<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOBBY</title>
    {{!-- Bootstrap css --}}
    <link rel="stylesheet" href="/css/bootstrap.css">
    {{!-- Bootstrap JS --}}
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>

<body>
    {{#if isAuthenticated}}
        {{> navbar/user}}
    {{else}}
        {{> navbar/main}}
    {{/if}}
    <main>
        {{{ body }}}
    </main>
</body>

</html>